{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h2>Adicionar Usuário</h2>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.first_name.label(class="form-label") }}
                {{ form.first_name(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.last_name.label(class="form-label") }}
                {{ form.last_name(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.confirm.label(class="form-label") }}
                {{ form.confirm(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.complement1.label(class="form-label") }}
                {{ form.complement1(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.complement2.label(class="form-label") }}
                {{ form.complement2(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.cpf.label(class="form-label") }}
                {{ form.cpf(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}
