{% extends "base.html" %}

{% block content %}
  <div class="container">
    <h2>Editar Usuário</h2>
    <form method="post">
      {{ form.hidden_tag() }}
      <div class="mb-3">
        {{ form.first_name.label(class="form-label") }}
        {{ form.first_name(class="form-control") }}
      </div>
      <div class="mb-3">
        {{ form.last_name.label(class="form-label") }}
        {{ form.last_name(class="form-control") }}
      </div>
      <div class="mb-3">
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control") }}
      </div>
      <div class="mb-3">
        {{ form.cpf.label(class="form-label") }}
        {{ form.cpf(class="form-control") }}
      </div>
      <div class="mb-3">
        {{ form.data_de_nascimento.label(class="form-label") }}
        {{ form.data_de_nascimento(class="form-control") }}
      </div>
      <div class="mb-3">
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
      </div>
      <div class="mb-3">
        {{ form.confirm.label(class="form-label") }}
        {{ form.confirm(class="form-control") }}
      </div>
      <div class="mb-3">
        {{ form.submit(class="btn btn-primary") }}
      </div>
    </form>
  </div>
{% endblock %}
