<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="mt-5">Login</h2>
                <form method="POST" action="{{ url_for('login') }}">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        <label for="cpf_or_username">CPF ou Nome de Usuário</label>
                        {{ form.cpf_or_username(class="form-control") }}
                    </div>
                    <div class="form-group">
                        <label for="password">Senha</label>
                        {{ form.password(class="form-control") }}
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Entrar</button>
                    </div>
                    {% for message in get_flashed_messages() %}
                        <div class="alert alert-warning">{{ message }}</div>
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
</body>
</html>
